#root {
  max-width: 1440px;
  margin: 0 auto;
  /* padding: 2rem; */
  font-family: Poppins, Arial, Helvetica, sans-serif;
  color: var(--color-primary-dark-blue);
}

.app {
  display: flex;
  flex-direction: column;
  /* width: 1440px; */
  max-width: 1440px;
  box-sizing: border-box;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.pet-card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 70px 0;
  padding: 0 9%;
  width: fit-content;
  max-width: 100%;
  height: fit-content;

  .pet-card-header-container {
    .pet-title {
      display: inline;
      margin: 0;
      color: var(--color-primary-dark-blue);
      font-size: 34px;
      line-height: 36px; /* 150% */
    }

    .btn-wrapper {
      display: flex;
      gap: 15px;
      float: right;
      width: fit-content;
    }
  }

  .pet-card-component-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px 20px;
    margin-top: 30px;
    width: 100%;
  }
}
