@import "/src/utilities/mixins/mixins.scss";
#root {
  max-width: 1440px;
  margin: 0 auto;
  font-family: "Inter", Arial, Helvetica, sans-serif;
}

.app {
  display: flex;
  flex-direction: column;
  /* width: 1440px; */
  max-width: 1440px;
  box-sizing: border-box;
}
