:root {
  /**  Color System */
  --color-primary-dark-blue: #003459;
  --color-secondary-mon-yellow: #f7dba7;

  --color-state-pink-red: #ff564f;
  --color-state-green-light: #34c759;
  --color-state-orange-shine: #ff912c;
  --color-state-blue-sea: #00a7e7;

  --color-neutral-100: #00171f;
  --color-neutral-80: #242b33;
  --color-neutral-60: #667479;
  --color-neutral-40: #99a2a5;
  --color-neutral-20: #ccd1d2;
  --color-neutral-10: #ebeeef;
  --color-neutral-00: #fdfdfd;

  /**  Typography located in App.css */

  /* font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
  box-sizing: border-box;
}

body {
  display: flex;
  margin: 0 auto;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--color-neutral-00);
}
